/*  the whole page is centered
    since everything is within the div 'container' has the auto margins*/

#container {
    width:     1500px;
    background-color: #04f909;
    margin-left: auto;
    margin-right: auto;
    color: ;
}

#header {
    background-color:#FFA500;
    text-align: center;
}

#menu {
    width:     700px;
    background-color:  #04f909;
    margin-left:   20px;
    padding: 10px;
}

/*This is an extra style element that will change all 'a href' tags to the values below*/
a {
    font-size:  50px;
    text-decoration: none;
    color: #cf4f70;
}
a:hover {
    color: white;
    text-decoration: none;
}
    